{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>VERSION</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <p>Conte Type {{version.ctCode }}</p>
        {% if version.hasSource %}
            <a href="{{version.fichierSource }}">Version {{version.numero}}</a>
        {% else %}
            <p>Version {{version.numero}}</p>
        {% endif %}
        </br></br>

               <strong>
                    {% if version.hasSource %}
                        <a href="{{version.fichierSource }}">{{version.numero}}</a>
                    {% else %}
                        {{version.numero}}

                    {% endif %}
                    - {{ version.reference }}
                </strong></br>

                {% for ligne in version.description %}
                    {{ ligne | raw }} </br>

                {% endfor %}

                <tr>
                {% for ligne in version.developpements %}
                    {{ ligne | raw }} </br>

                {% endfor %}

                </tr>

                {% for ligne in version.comparatifAvecAutreVersions %}
                    {{ ligne | raw }} </br>

                {% endfor %}
                
    </tr>
    </thead>
    <tbody>

    </tbody>



</table>



{% endblock %}
